.questionPage__inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.questionPage__header {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.questionPage__pading24 {
  padding: 24px;
}
.questionPage__img {
  display: block;
  border-radius: 12px;
  width: 160px;
  height: 160px;
}
.questionPage__desc {
  max-width: 366px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #303030;
}
.questionPage__desc h1 {
  margin-bottom: 16px;
}
.questionPage__about {
  font-size: 16px;
  line-height: 130%;
  color: #474747;
}
.questionPage__slider {
  padding: 16px;
}
.questionPage__sliderContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.questionPage__prevBtn,
.questionPage__nextBtn {
  display: flex;
  flex-direction: row;
  padding: 15px 0 15px 0;
}
.questionPage__nextBtn:disabled,
.questionPage__prevBtn:disabled {
  color: #a0a0a0 !important; /* Делаем текст блеклым */
  cursor: not-allowed !important; /* Курсор запрета (перечеркнутый круг) */
}
.questionPage__answers {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #303030;
}
.questionPage__answers h2 {
  margin-bottom: 20px;
}
.questionPage__answersText {
  font-size: 16px;
  line-height: 130%;
}
.questionPage__backBtn {
  margin-left: 20px;
}
/* Для скрытия части текста */
/* Контейнер краткого ответа на детальной странице */
.shortAnswerContainer {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  line-height: 1.6;
}

/* Состояние: свернуто */
.isCollapsed {
  -webkit-line-clamp: 4; /* Ограничение в 4 строки */
  max-height: 6.4em; /* line-height (1.6) * 4 строки */
}
/* Состояние: развернуто */
.isExpanded {
  -webkit-line-clamp: unset;
  max-height: 1000px; /* Запас высоты для раскрытия */
}
/* Кнопка управления внутри модуля */
.btnToggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  text-decoration: none;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  color: #303030;
}

.btnToggle:hover {
  text-decoration: none;
}

/* Контейнер для полного ответа */
.longAnswerContainer {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  line-height: 1.6;
}

/* Полный ответ свернут (показываем первые 12 строк) */
.longIsCollapsed {
  -webkit-line-clamp: 12;
  max-height: 19.2em; /* line-height (1.6) * 12 строк */
}

/* Полный ответ развернут */
.longIsExpanded {
  -webkit-line-clamp: unset;
  max-height: 5000px; /* Большой запас для огромных статей */
}
